@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

.git-container {
    height: 100vh;
    background-color: #340332;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    /* position: relative; */
    height: 50px;
    width: 50%;
    background-color: #ef55ea;
    border-radius: 50px;
    display: flex;
    margin-bottom: 2rem;
}

.icon {
    margin: 15px;
    font-size: 20px;
}

.input-search {
    /* margin-left: 30px; */
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: 14px;

}

.input-search::placeholder {
    color: #7378c5;
    ;
}

.input-search:focus {
    outline: none;
}

.main {
    width: 800px;
    background-color: #ef55ea;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.git-card {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    border: 10px solid hsl(304, 75%, 56%);
    height: 150px;
    width: 150px;
    margin-right: 2rem;
}

.user-info {
    color: #eee;
}

.user-info h3 {
    margin-top: 0;
}

.user-info p {
    padding: 1rem 0;
}

.user-info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repos {
    padding: 10px 0;
}

.repo {
    text-decoration: none;
    color: #fff;
    background-color: #23011e;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    display: inline-block;
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }

    .search {
        max-width: 400px;
    }
}